* {
	/*outline: 1px solid pink;*/
}
.box {
	width : 30px;
	height: 30px;
	display: inline-block;
	text-align: center;
	padding: 10px;
	line-height: 30px;
	margin : 1px;
	border : 1px solid black;
	vertical-align: top;
	color: black;
}

.empty-col {
	border: 1px solid white;
}

.color-blue {
	background-color: blue;
}

.color-pink {
	background-color: pink;
}

.color-yellow {
	background-color: yellow;
}